#page-user-search {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}

#page-user-search header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}